*{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar{

  position: sticky;
  top:0;
  z-index: 40;

}
.navbar{
  /*background-image: linear-gradient( to right, #379683, #557A95);*/
  padding: 10 !important;
  background-color: #FFFFFE;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
    color: #5B5B5B;
  /*font-weight:  600;*/
}
.fa-bars {
  color: #5B5B5B;
  font-size: 30px !important;
}
.navbar-toggler {
  outline: none !important;
}

/*-----------home section----------*/
#home{
  background-color: #F4E263;
}
.promo-title {
  text-align: left;
  color: #5B5B5B;
  font-size: 40px;
  font-weight: 200;
  margin-top: 60px;
}
.promo-title1::before {
  content: '';
  background: #5B5B5B;
  height: 1.5px;
  width: 70px;
  margin-left: 0;
  margin-right: 0;
  display: block;
  transform: translateY(35px);
}
.promo-title1 {
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  color: #5B5B5B;
}
.avatar-img {
  width: 44%;
  margin-top: 60px;
}
.bottom-img {
  width: 100%;
}

/*-----------about-me section----------*/

#university{
  background-color: #FFFFFE;
}
.lnu-img {

  width: 80%;
  margin-top: 30px;

}
.title {
  text-align: center;
  color: #5B5B5B;
  font-size: 40px;
  font-weight: 200;
  margin-top: 45px;
}
.title::before {
  content: '';
  background: #5B5B5B;
  height: 3px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(55px);
}
.title1 {
  text-align: left;
  color: #5B5B5B;
  font-size: 20px;
  font-weight: 100;
  margin-top: 30px;
}

/*-----------architecture section----------*/
#architecture
{
  background-color: #5B5B5B;
}
.titleT {
  text-align: center;
  color: #FFFFFE;
  font-size: 40px;
  font-weight: 200;
  margin-top: 30px;
}
.titleT::before {
  content: '';
  background: #FFFFFE;
  height: 3px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(55px);
}
.titleArh {
  text-align: left;
  color: #FFFFFE;
  font-size: 20px;
  font-weight: 100;
  margin-top: 55px;
}

#slider {
  margin-top: 50px;
  margin-right:  100px;
  width: 100%;
}
.carousel-control-next {
  margin-right: 120px;
}

.carousel-caption h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-top: 30px;

}
.carousel-control-prev {

    left: 10px;  //or you can increase this
  }


.carousel-indicators {
    right: 22% !important;
    left: inherit;
}

/*-----------photo section----------*/
#photo {
  background-color: #FFFFFE;
}
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 6px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}
  /*
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.tz-gallery .row a :hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}*/

/*-----------contact section----------*/
#contact {
  background-color: #F4E263;

}
.social-icons img{
  width: 55px;
  transition: 0.5s;
  padding: 8px;
  margin-top: 40px;

}
.social-icons a:hover img {
transform: translateY(-10px);
}
.footer-box p {
  margin-top: 40px;
    color: #5B5B5B;
}
.footer-box .form-control {
  box-shadow: none; !important
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 300px;
}
.footer-box .social-icons {
  margin-top: 40px;
  align-content: center;
}
.footer-box .btn-primary {
  text-align: left;
    color: #FFFFFE;
  box-shadow: none; !important
  border: none;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color:  #5B5B5B;
}
hr {
  background-color: #FFFFFE;
}
.copy {
  margin-bottom: 10;
  padding-bottom: 20px;
  text-align: center;
  color: #5B5B5B;
}
